HTML {
	PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 0px; MARGIN: 0px; PADDING-RIGHT: 0px
}
BODY {
	BOX-SIZING: border-box; FONT-FAMILY: arial,Hiragino Sans GB,ËÎÌå; PADDING-BOTTOM: 0px; PADDING-TOP: 0px; PADDING-LEFT: 400px; MARGIN: 32px 0px 0px; PADDING-RIGHT: 0px; -webkit-box-sizing: border-box
}
CODE.block {
	OVERFLOW: hidden; BORDER-TOP: #abcdf3 1px solid; FONT-FAMILY: droid sans mono, consolas, monaco; BORDER-RIGHT: #abcdf3 1px solid; BACKGROUND: rgb(247,250,254); BORDER-BOTTOM: #abcdf3 1px solid; BORDER-LEFT: #abcdf3 1px solid
}
H1 {
	FONT-FAMILY: "Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft YaHei",sans-serif; COLOR: #005a9c
}
H2 {
	FONT-FAMILY: "Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft YaHei",sans-serif; COLOR: #005a9c
}
H3 {
	FONT-FAMILY: "Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft YaHei",sans-serif; COLOR: #005a9c
}
H4 {
	FONT-FAMILY: "Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft YaHei",sans-serif; COLOR: #005a9c
}
H5 {
	FONT-FAMILY: "Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft YaHei",sans-serif; COLOR: #005a9c
}
H6 {
	FONT-FAMILY: "Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft YaHei",sans-serif; COLOR: #005a9c
}
P:before {
	CONTENT: "¡¡¡¡"
}
.note {
	COLOR: darkgreen
}
UNKNOWN {
	CONTENT: "¡¡¡¡×¢£º"
}
CODE.block {
	WHITE-SPACE: pre; PADDING-BOTTOM: 1em; PADDING-TOP: 1em; PADDING-LEFT: 1em; MARGIN: 1em 2em; PADDING-RIGHT: 1em
}
UL {
	MARGIN: 1em
}
OL {
	MARGIN: 1em
}
.block {
	DISPLAY: block
}
TABLE {
	BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-COLLAPSE: collapse; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid
}
TABLE TD {
	BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid
}
TABLE TH {
	BORDER-TOP: black 1px solid; BORDER-RIGHT: black 1px solid; BORDER-BOTTOM: black 1px solid; BORDER-LEFT: black 1px solid
}
figure.table figcaption:before {
	COUNTER-INCREMENT: table; CONTENT: "±í" counter(table) " ¡ª¡ª "
}
figure {
	TEXT-ALIGN: center
}
figure TABLE {
	MARGIN-LEFT: auto; MARGIN-RIGHT: auto
}
BODY {
	COUNTER-RESET: level1 0 table 0 annex 0 note 0
}
H1.chapter {
	COUNTER-RESET: level2 0
}
H2.chapter {
	COUNTER-RESET: level3 0
}
H3.chapter {
	COUNTER-RESET: level4 0
}
H4.chapter {
	COUNTER-RESET: level5 0
}
H5.chapter {
	COUNTER-RESET: level6 0
}
H1.chapter:before {
	COUNTER-INCREMENT: level1; CONTENT: counter(level1) " "
}
H2.chapter:before {
	COUNTER-INCREMENT: level2; CONTENT: counter(level1) "." counter(level2) " "
}
H3.chapter:before {
	COUNTER-INCREMENT: level3; CONTENT: counter(level1) "." counter(level2) "." counter(level3) " "
}
H4.chapter:before {
	COUNTER-INCREMENT: level4; CONTENT: counter(level1) "." counter(level2) "." counter(level3) "." counter(level4) " "
}
H5.chapter:before {
	COUNTER-INCREMENT: level5; CONTENT: counter(level1) "." counter(level2) "." counter(level3) "." counter(level4) "." counter(level5) " "
}
H6.chapter:before {
	COUNTER-INCREMENT: level6; CONTENT: counter(level1) "." counter(level2) "." counter(level3) "." counter(level4) "." counter(level5) "." counter(level6) " "
}
H1.annex {
	COUNTER-RESET: level2 0
}
H2.annex {
	COUNTER-RESET: level3 0
}
H3.annex {
	COUNTER-RESET: level4 0
}
H1.annex:before {
	COUNTER-INCREMENT: annex; CONTENT: "¸½Â¼" counter(annex, upper-latin) " "
}
H2.annex:before {
	COUNTER-INCREMENT: level2; CONTENT: counter(annex, upper-latin) "." counter(level2) " "
}
H3.annex:before {
	COUNTER-INCREMENT: level3; CONTENT: counter(annex, upper-latin) "." counter(level2) "." counter(level3) " "
}
OL {
	LIST-STYLE-TYPE: decimal
}
OL OL {
	LIST-STYLE-TYPE: lower-latin; MARGIN: 0em
}
OL OL OL {
	LIST-STYLE-TYPE: lower-roman
}
OL OL OL OL {
	LIST-STYLE-TYPE: decimal
}
OL OL OL OL OL {
	LIST-STYLE-TYPE: lower-latin
}
OL OL OL OL OL OL {
	LIST-STYLE-TYPE: lower-roman
}
OL UL {
	MARGIN: 0em
}
UL OL {
	MARGIN: 0em
}
#title {
	TEXT-ALIGN: center
}
.toc LI {
	LIST-STYLE-TYPE: none
}
HTML {
	HEIGHT: 100%; WIDTH: 100%
}
BODY {
	HEIGHT: 100%; WIDTH: 100%; -moz-box-orient: vertical; -webkit-box-orient: vertical; box-orient: vertical
}
.toc {
	OVERFLOW: visible; WIDTH: auto; WHITE-SPACE: nowrap; PADDING-LEFT: 0px; COUNTER-RESET: toclevel1 0 tocannex 0
}
.toc A {
	FONT-FAMILY: "Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft YaHei",sans-serif; COLOR: #005a9c
}
A:link {
	FONT-FAMILY: "Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft YaHei",sans-serif; COLOR: #005a9c
}
A:visited {
	FONT-FAMILY: "Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft YaHei",sans-serif; COLOR: #005a9c
}
.toc OL {
	OVERFLOW: visible; WIDTH: auto
}
LI {
	OVERFLOW: visible; WIDTH: auto
}
.toc > LI > A.chapter {
	COUNTER-RESET: toclevel2 0
}
.toc > LI > OL > LI > A.chapter {
	COUNTER-RESET: toclevel3 0
}
.toc > LI > OL > LI > OL > LI > A.chapter {
	COUNTER-RESET: toclevel4 0
}
.toc > LI > OL > LI > OL > LI > OL > LI > A.chapter {
	COUNTER-RESET: toclevel5 0
}
.toc > LI > OL > LI > OL > LI > OL > LI > OL > LI > A.chapter {
	COUNTER-RESET: toclevel6 0
}
.toc > LI > A.annex {
	COUNTER-RESET: toclevel2 0
}
.toc > LI > OL > LI > A.annex {
	COUNTER-RESET: toclevel3 0
}
.toc > LI > OL > LI > OL > LI > A.annex {
	COUNTER-RESET: toclevel4 0
}
.toc A.chapter:before {
	COUNTER-INCREMENT: toclevel1; CONTENT: counter(toclevel1) " "
}
.toc OL A.chapter:before {
	COUNTER-INCREMENT: toclevel2; CONTENT: counter(toclevel1) "." counter(toclevel2) " "
}
.toc OL OL A.chapter:before {
	COUNTER-INCREMENT: toclevel3; CONTENT: counter(toclevel1) "." counter(toclevel2) "." counter(toclevel3) " "
}
.toc OL OL OL A.chapter:before {
	COUNTER-INCREMENT: toclevel4; CONTENT: counter(toclevel1) "." counter(toclevel2) "." counter(toclevel3) "." counter(toclevel4) " "
}
.toc OL OL OL OL A.chapter:before {
	COUNTER-INCREMENT: toclevel5; CONTENT: counter(toclevel1) "." counter(toclevel2) "." counter(toclevel3) "." counter(toclevel4) "." counter(toclevel5) " "
}
.toc OL OL OL OL OL A.chapter:before {
	COUNTER-INCREMENT: toclevel6; CONTENT: counter(toclevel1) "." counter(toclevel2) "." counter(toclevel3) "." counter(toclevel4) "." counter(toclevel5) "." counter(toclevel6) " "
}
.toc A.annex:before {
	COUNTER-INCREMENT: tocannex; CONTENT: "¸½Â¼" counter(tocannex, upper-latin) " "
}
.toc OL A.annex:before {
	COUNTER-INCREMENT: toclevel2; CONTENT: counter(tocannex, upper-latin) "." counter(toclevel2) " "
}
.toc OL OL A.annex:before {
	COUNTER-INCREMENT: toclevel3; CONTENT: counter(tocannex, upper-latin) "." counter(toclevel2) "." counter(toclevel3) " "
}
.toc A {
	CURSOR: pointer
}
#title {
	TEXT-ALIGN: center
}
header {
	WIDTH: 100%
}
nav {
	FONT-FAMILY: "Hiragino Sans GB","WenQuanYi Micro Hei","Microsoft YaHei",sans-serif; BACKGROUND: black; COLOR: white; Z-INDEX: 3; LINE-HEIGHT: 28px
}
nav :link {
	TEXT-DECORATION: none; COLOR: yellow; MARGIN: 0px 5px
}
:visited {
	TEXT-DECORATION: none; COLOR: yellow; MARGIN: 0px 5px
}
nav :hover:link {
	TEXT-DECORATION: underline
}
#userAvatar {
	MARGIN: 5px
}
nav * {
	VERTICAL-ALIGN: middle
}
.mask {
	HEIGHT: 100%; WIDTH: 100%; POSITION: fixed; LEFT: 0px; Z-INDEX: 5; TOP: 0px; -moz-box-orient: horizontal; -webkit-box-orient: horizontal; box-orient: horizontal; -webkit-box-pack: center; -webkit-box-align: center; -moz-box-pack: center; -moz-box-align: center
}
.popup_content {
	BORDER-TOP: grey 1px solid; BORDER-RIGHT: grey 1px solid; BACKGROUND: white; BORDER-BOTTOM: grey 1px solid; PADDING-BOTTOM: 1em; PADDING-TOP: 1em; PADDING-LEFT: 1em; BORDER-LEFT: grey 1px solid; DISPLAY: inline-block; PADDING-RIGHT: 1em
}
.popup_content > * {
	DISPLAY: block
}
.popup_content > * {
	BOX-SIZING: border-box; BORDER-TOP: grey 1px solid; BORDER-RIGHT: grey 1px solid; WIDTH: 500px; BORDER-BOTTOM: grey 1px solid; BORDER-LEFT: grey 1px solid; MARGIN: 1em; DISPLAY: block
}
.popup_content > TEXTAREA {
	HEIGHT: 350px
}
aside {
	BOX-SIZING: border-box; OVERFLOW: scroll; HEIGHT: 100%; WIDTH: 400px; BACKGROUND: white; POSITION: fixed; LEFT: 0px; MARGIN: 0px; Z-INDEX: 2; TOP: 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box
}
#main {
	BOX-SIZING: border-box; BORDER-TOP: transparent 32px solid; HEIGHT: 100%; WIDTH: 100%; OVERFLOW-X: hidden; OVERFLOW-Y: scroll; POSITION: absolute; LEFT: 0px; BORDER-LEFT: transparent 400px solid; MARGIN: 0px; TOP: 0px; -webkit-box-sizing: border-box; -moz-box-sizing: border-box
}
#content {
	PADDING-BOTTOM: 1em; PADDING-TOP: 1em; PADDING-LEFT: 1em; PADDING-RIGHT: 1em
}
nav {
	HEIGHT: 32px; WIDTH: 100%; POSITION: absolute; LEFT: 0px; TOP: 0px
}
